<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue绑定数据</title>
    <script src="/static/js/vue.min.js"></script>
</head>
<body>
{% verbatim %}
<div id="panel">
    <p>
        内容绑定 {{ name }}
    </p>
    <hr>

    <p v-bind:style="style">
        属性绑定
    </p>
    <hr>

    <p v-if="flag">
        判断绑定
    </p>
    <hr>

    <p v-for="p in lists">
        循环绑定 {{ p }}
    </p>
    <hr>

    <button v-on:click='click'>
        事件绑定
    </button>
</div>
{% endverbatim %}
<script>
    var vue = new Vue({
        el: "#panel",
        data: {
            name: "mingming",
            style: "color:red",
            flag: 1,
            lists: ['python', 'java', 'php'],
        },
        methods: {
            "click": function () {
                alert('你好')
            }
        }
    })
</script>
</body>
</html>